body {
    margin: 0;
    font-family: Arial,sans-serif;
    color: #fff;
    background: #220033;
    scroll-behavior: smooth;
}

section {
    padding: 20px;
    text-align: center;
}

#hero {
    padding: 30px;
    background: linear-gradient(160deg, #220033, #4b007d);
}

#hero img {
    width: 80%;
    max-width: 500px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px 5px purple;
    transition: transform 0.3s ease;
}

#hero img:hover {
    transform: scale(1.05);
}

#hero h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

#hero p {
    margin-bottom: 20px;
    color: #cc9eff;
}

#hero .cta {
    display: inline-block;
    padding: 10px 20px;
    background: purple;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    transition: background 0.3s ease;
}

#hero .cta:hover {
    background: #ff00ff;
}

h2 {
    margin-bottom: 20px;
    color: #cc9eff;
    font-size: 1.5em;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.glass-card {
    background:rgba(128, 0, 128, 0.3);
    backdrop-filter:blur(10px);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px purple;
    transition: transform 0.3s ease;
    text-align: center;
}

.glass-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px purple;
}

.glass-card img {
    margin-bottom: 15px;
    border-radius: 15px;
    width: 60%;
    max-width: 150px;
}

.founder {
    max-width: 250px;
    margin: 0 auto;
}

.founder img {
    margin-bottom: 15px;
    border-radius: 50%;
    width: 80%;
    max-width: 200px;
}

footer {
    padding: 20px;
    background: #220033;
    color: #cc9eff;
    text-align: center;
}

@media (min-width: 500px) {
    .card-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
